html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --wht: rgb(255, 255, 255);
    --blc: rgb(0, 0, 0);
    --blu: rgb(3, 3, 255);
    --gry: #ccc;
    --pnk: rgb(247, 77, 208);
    --vio: rebeccapurple;
    --grn: rgb(1, 144, 1);
}

#navbar{
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--pnk);
    z-index: 1;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 280px;
    height: 43px;
    margin-left: 5px;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 900;
}
                    /*MENU ITEMS STARTTING FROM HERE*/
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}
#menu>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}
#menu>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}
#menu>ul>li:hover{
    background-color: rgb(127, 76, 85);
}
#menu>ul>li>a{
    text-decoration: none;
    color: var(--wht);
    font-family: "apercu",sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.checkbtn{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    order: 1;
}
#check{
    display: none;
}
#check:checked ~ #menu{
    display: flex;
  }



.bg{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-image: url('../images/a1.jpg');
    background-size: 100% 100%;
}
.container{
    margin-top: 30px;
    display: flex;
    width: 80%;
    overflow: hidden;
    justify-content: start ;
    align-items: center;
    flex-wrap: wrap;
}
.bg-left{
    width: 68%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "apercu",sans-serif;
    margin-top: 0;
    /* background-color: green; */
   }
.bg-left>h1{
    font-family: cursive;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    margin: 0px;
}
.bg-left>h4{
    margin: 0px;
    color: var(--pnk);
    font-family: "apercu",sans-serif;
    font-size: 1.5rem;
}
#about{
    margin-top: 30px;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "apercu",sans-serif;
}
.myImage{
    width: 500px;
    height: 400px;
    background-image: url('../images/me.jpg');
    background-size: 75% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.xp{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 30%;
    overflow: hidden;
    padding: 50px;
}
.xp>h1{
    color: var(--pnk);
    font-size: 1.5rem;
    text-align: center;
}
.xp>h1>span{
    color: var(--vio);
}
.xp>p{
    margin-top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    color: rgb(158, 158, 158);
    font-size: 1rem;
}
.xp>p>button{
    border: none;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: var(--pnk);
    text-align: center;
    font-size: 1rem;
}
.xp>p>button:hover{
    background-color: var(--vio);
}
.xp>p>button>a{
    text-decoration: none;
    color: var(--wht);
}

#work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box {
    overflow: hidden;
    position: relative;
    width: 210px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    /* border: 1px solid var(--blc); */
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--pnk);
    transition: all .5s;
}

.box>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-cont{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 73%);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: all .3s;
}
.img-cont>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.box:hover .img-cont{
    bottom: 0;
}

.img-cont a{
    padding: 10px;
    color: var(--blu);
    text-decoration: none;
    font-size: 18px;
}
#work>button{
    margin: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--pnk);
}
#work>button>a{
    font-family: "apercu",sans-serif;
    color: white;
    text-decoration: none;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    /* background-color: rgba(183, 8, 8, 0.285); */
}
.clientBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    background-color: #0dd131;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    font-family: "apercu",sans-serif;
    color: white;
}
.clientBox>h2{
    text-align: center;
    color: var(--vio);
}
.clientBox>p{
    width: 100%;
    color: rgb(243, 206, 0);
    text-shadow: 0px 0px 5px black;
    font-size: 20px;
}



.SocialMenu{
	width: 100%;
	overflow: hidden;
}

.SocialMenu h2{
	text-transform: uppercase;
	text-align: center;
}
.SocialItems{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.SocialItems ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.SocialItems ul li{
	margin: 10px 40px;
}
.SocialItems ul li a{
	flex-direction: row;
	color: rgb(0, 0, 0);
	font-size: 40px;
	transition: .5s;
}
.SocialItems ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.SocialItems ul li:nth-child(1) a:hover {
    color: #3b5999;
}
.SocialItems ul li:nth-child(2) a:hover {
    color: #008124;
}
.SocialItems ul li:nth-child(3) a:hover {
    color: #55acee;
}
.SocialItems ul li:nth-child(4) a:hover {
    color: #cd201f;
}
.SocialItems ul li:nth-child(5) a:hover {
    color: #fb0000;
}
.copyright{
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 10px;
	color: #adadad;
	text-align: center;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
}
.copyright span a{
	color: rgb(6, 158, 6);
}



















  @media screen and (max-device-width: 319px){
	#logo{
        width: 150px;
        height: 55px;
        font-size: 18px;
    
	} 
	.checkbtn{
		display: block;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
    .bg{
        margin-top: 40px;
        height: 60vh;
    }
    .bg-left{
        width: 70%;
	margin-top: -70px;
    }
    .bg-left>h1{
        font-size: 30px;
    }
    .bg-left>h4{
        font-size: 10px;
    }
    .myImage{
        margin-left: 60px;
    }
    .xp{
        width: 100%;
        padding: 10px;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px){
	.checkbtn{
		display: block;
	}
	#logo{
        width: 150px;
        height: 55px;
        font-size: 18px;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
    .bg{
        margin-top: 40px;
        height: 70vh;
    }
    .bg-left{
        width: 60%;
    }
    .bg-left>h1{
        font-size: 24px;
    }
    .bg-left>h4{
        font-size: 11px;
    }
    .myImage{
        margin-left: 80px;
    }
    .xp{
        width: 100%;
        padding: 10px;
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 602px){
	.checkbtn{
		display: block;
	}
	#logo{
		width: 200px;
		height: 55px;
	}
	#menu{
		display: none;
		margin: 0;
		background-color: #000668;
		width: 100%;
		order: 3;
	}
	#menu>ul{
		flex-direction: column;
	}
	#menu>ul>li{
		margin: 10px 0px;
		padding: 10px 10px;
	}
    .bg{
        margin-top: 45px;
        height: 70vh;
    }
    .bg-left{
        width: 55%;
    }
    .bg-left>h1{
        font-size: 36px;
    }
    .bg-left>h4{
        font-size: 16px;
    }
    .myImage{
        background-size: 100% 100%;
    }
    .xp{
        width: 100%;
        padding: 10px;
    }
}	
@media screen and (min-device-width: 603px) and (max-device-width: 768px){
	#menu>ul>li{
		padding: 0px 5px;
	}
	#logo{
	width: 135px;
        height: 55px;
        font-size: 18px;
	}
    .bg{
        margin-top: 52px;
        height: 80vh;
    }
    .bg-left{
        width: 55%;
    }
    .bg-left>h1{
        font-size: 44px;
    }
    .bg-left>h4{
        font-size: 16px;
    }
    .myImage{
        background-size: 100% 100%;
    }
    .xp{
        width: 100%;
        padding: 30px;
    }
}
@media screen and (min-device-width: 769px) and (max-device-width: 853px){
    #logo{
	width: 200px;
        height: 55px;
        font-size: 24px;
	}
    .bg{
        margin-top: 62px;
        height: 90vh;
    }
    .bg-left{
        width: 45%;
    }
    .bg-left>h1{
        font-size: 44px;
    }
    .bg-left>h4{
        font-size: 16px;
    }
    .myImage{
        background-size: 100% 100%;
    }
}
